<nav class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Cadastro<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#consultarAluno">Alunos</a></li>
            <li class="divider"></li>
            <li><a href="#consultarProfessor">Professores</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>
